{% if member.is_moderator %}
    {% if returnUrl %}
        <a href="{{ returnUrl }}" class="newdefbutton">Back to {{ channel.title }}</a>
    {% endif %}

    <a href="javascript:;"
        class="newdefbutton margin-right admin-color"
        data-request="onLock"
        data-request-update="'@controlpanel': '#topicControlPanel'">
        {% if topic.is_locked %}
            <i class="fa fa-unlock"></i>Unlock topic
        {% else %}
            <i class="fa fa-lock"></i>Lock topic
        {% endif %}
    </a>

    <a href="javascript:;"
        class="newdefbutton margin-right admin-color"
        data-request="onSticky"
        data-request-update="'@controlpanel': '#topicControlPanel'">
        {% if topic.is_sticky %}
            <i class="fa fa-level-down"></i>Unpin topic
        {% else %}
            <i class="fa fa-level-up"></i>Pin topic
        {% endif %}
    </a>
{% endif %}

{% if member and 0 %}
    <a href="javascript:;"
        class="newdefbutton margin-right admin-color"
        data-request="onFollow"
        data-request-update="'@controlpanel': '#topicControlPanel'">
        {% if member.isFollowing(topic) %}
            Unfollow this topic
        {% else %}
            Follow this topic
        {% endif %}
    </a>
{% endif %}

{% if topic.is_locked %}
    <div class="newdefbutton margin-right scroll">
        <span class="text text-danger"><i class="fa fa-lock"></i> This topic is locked</span>
    </div>
{% else %}
    <a href="#quick-reply" class="newdefbutton margin-right scroll">
        <i class="fa fa-comment-o"></i>Post a reply
    </a>
{% endif %}

