<div class="reply-box">
    <div class="reply-textarea">
        {{ form_open({ request: 'onCreate' }) }}
            <div class="respond-input">
                <input type="text" placeholder="Topic Title"
                        id="topicSubject"
                        name="subject"
                        class="form-control"
                        value="{{ post('subject') }}"/>
            </div>

            <div class="respond-textarea">
                <div class="textarea-wrapper">

                    <textarea placeholder="Content"
                        id="topicContent"
                        name="content"
                        class="form-control">{{ post('content') }}</textarea>
                </div>
            </div>
            <div class="respond-submit">
                <input type="submit" name="send" value="Post this topic">
                {% if returnUrl %}
                    <a class="defbutton" href="{{ returnUrl }}">Cancel</a>
                {% endif %}
            </div>

            <input type="hidden" name="channel" value="{{ channel.id }}" />

        {{ form_close() }}
    </div>
</div>