<div class="forum-block">

    {% flash %}
        <div class="info-message {{ type }} alert">
            <a href="#" class="close-info" data-dismiss="alert" aria-hidden="true"><i class="fa fa-times"></i></a>
            <p><strong>{{ type }}:</strong>{{ message }}</p>
        </div>
    {% endflash %}

    {% if topic %}

        <h2><span>{{ topic.is_locked ? '<i class="fa fa-lock"></i>' }}{{ topic.subject }}</span></h2>

        <div class="content-padding">
            <div class="forum-description">
                {% partial "@pagination" %}
            </div>
            <div class="topic-right right">
                {% if topic.is_sticky %}
                    <span><i class="fa fa-unlock-alt"></i>Pinned</span>
                {% endif %}
                {% if topic.is_locked %}
                    <span><i class="fa fa-unlock-alt"></i>Topic closed</span>
                {% endif %}
                
                <span>{{ topic.count_posts }} Posts</span>
            </div>

            <div id="topicControlPanel">
                {% partial "@controlpanel" %}
            </div>
        </div>
        <!-- BEGIN .forum-thread -->
        <div class="forum-thread">
                {% partial "@posts" %}
        </div>
        <h2><span>Reply to this discussion</span></h2>
        {% if not topic.canPost %}
            <p>
                You cannot edit posts or make replies:
                {% if member.is_banned %}Your account is banned.{% endif %}
                {% if topic.is_locked %}This topic is locked.{% endif %}
            </p>
        {% else %}
            {% if member %}
                <div class="content-padding quick-reply" id="quick-reply">
                    <div class="forum-description">
                        <a href="#quick-reply" class="newdefbutton"><i class="fa fa-comment-o"></i>Quick reply</a>
                    </div>
                    {% partial "@postform" %}
                </div>
            {% else %}
                <p>You should be logged in before you can post.</p>
            {% endif %}
        {% endif %}

    {% elseif channel %}
        <h2><span>Create a new discussion topic</span></h2>
        <div class="content-padding full-reply">
            {% partial "@createform" %}
        </div>

    {% else %}

        <h2><span>Topic not found!</span></h2>

    {% endif %}
</div>