<div class="user-block">
    <a href="{{ post.member.url }}" data-img="{{ post.member.user.avatarThumb(90) }}" data-url="{{ 'forum/member' | page({ slug: post.member.username}) }}" data-username="{{ post.member.username }}" data-online="{{ isOnline(post.member.user.id) ? "online" : ""}}" data-quote="{{ post.member.user.profile.per_text_1 ? post.member.user.profile.per_text_1 : "No Quote." }}" class="avatar {{ isOnline(channel.first_topic.last_post_member.user.id) ? "online" : ""}} user-tooltip">
        <img src="{{ post.member.user.avatarThumb(110) }}" class="setborder" title="" alt="{{ post.member.username }}" />
    </a>
    <div class="user-account">
        <div>
            <a href="{{ post.member.url }}" class="forum-user user-tooltip"><b>{{ post.member.username }}</b></a>
        </div>
        <div>
            <span><strong>4</strong> posts</span>
        </div>
        {% if post.member.is_banned %}
            <div class="status text-danger">
                <i class="fa fa-exclamation"></i> Banned
            </div>
        {% elseif post.member.is_moderator %}
            <div class="status">
                <i class="fa fa-star"></i> Moderator
            </div>
        {% endif %}
    </div>
    <div class="clear-float"></div>
</div>
<div class="post-text-block">
    {% if mode == 'edit' %}

        {{ form_open() }}
            <!-- Passable fields -->
            <input type="hidden" name="mode" value="save" />
            <input type="hidden" name="post" value="{{ post.id }}" />

            
            <div class="respond-input">
                {% if topic.first_post.id == post.id %}
                    <input type="text" name="subject" class="form-control" value="{{ topic.subject }}" />
                {% endif %}
            </div>
            <div class="respond-textarea">
                <textarea name="content" class="form-control">{{ post.content }}</textarea>
            </div>
            <div class="respond-submit">
                <a
                    href="javascript:;"
                    data-request="{{ __SELF__ }}::onUpdate"
                    data-request-data="post: {{ post.id }}"
                    data-request-update="'{{ __SELF__ }}::post': '#post-{{ post.id }}'"
                    class="defbutton save">
                    Save
                </a>

                <a href="javascript:;"
                    data-request="{{ __SELF__ }}::onUpdate"
                    data-request-data="post: {{ post.id }}, mode: 'view'"
                    data-request-update="'{{ __SELF__ }}::post': '#post-{{ post.id }}'"
                    class="defbutton cancel">
                    Cancel
                </a>
            </div>
        {{ form_close() }}

    {% elseif mode == 'delete' %}
        <div class="text">
            <p><em>Post has been deleted</em></p>
        </div>
    {% else %}
        <div class="text">
            {{ post.content_html|raw }}
        </div>
    {% endif %}
</div>
<div class="post-meta-block">
    <div>
        <a href="#post-{{ post.id }}">#{{ post.id }}</a>
    </div>
    <div>
        <span class="post-date">{{ post.created_at.diffForHumans }}</span>
    </div>
    <div class="bottom">
        {% if topic.canPost and post.canEdit and mode != 'edit' and mode != 'delete' %}
            <a href="javascript:;"
                class="defbutton admin-color edit"
                data-request="{{ __SELF__ }}::onUpdate"
                data-request-data="post: {{ post.id }}, mode: 'delete'"
                data-request-update="'{{ __SELF__ }}::post': '#post-{{ post.id }}'"
                data-request-confirm="Are you sure?">
                <i class="fa fa-trash-o"></i>
            </a>
        {% endif %}
        {% if topic.canPost and post.canEdit and mode != 'edit' and mode != 'delete' %}
                <a href="javascript:;"
                    class="defbutton admin-color edit"
                    data-request="onUpdate"
                    data-request-data="post: {{ post.id }}"
                    data-request-update="'{{ __SELF__ ~ '::post' }}': '#post-{{ post.id }}'">
                    <i class="fa fa-pencil"></i>
                </a>
        {% endif %}
        {% if topic.canPost %}
            <a href="javascript:;"
                class="defbutton scroll"
                data-request-data="post: {{ post.id }}"
                data-quote-button>
                <i class="fa fa-quote-right"></i>Quote
            </a>
            <a href="#quick-reply" 
               class="defbutton scroll"
               data-request-data="post: {{ post.id }}"
               data-quote-button>
                <i class="fa fa-comment-o"></i>Reply
            </a>
        {% endif %}
    </div>

</div>


