<div class="forum-block">
    <h2><span>Chryia Forums</span></h2>
    <div class="content-padding">
        <div class="forum-description">
            <p>Welcome to Chryia forums. Feel free to post here and in our steam group!</p>
            <!--<a href="forum-threads.html" class="defbutton"><i class="fa fa-comment-o"></i>Newest forum threads</a> -->
            <!--<a href="forum-threads.html" class="defbutton"><i class="fa fa-folder-open-o"></i>Threads without answers</a> -->
        </div>
    </div>

    {% for channel in channels %}
        <h2><span>{{ channel.title }}</span></h2>

        {% if channel.relations.children %}
            <!-- BEGIN .forum-group -->
            <div class="forum-group">
                {% for channel in channel.children %}

                    <!-- BEGIN .forum-link -->
                    <div class="forum-link">
                        <a href="{{ channel.url }}">
                            <i class="forum-icon {{ member and channel.hasNew ? 'new' }}">
                                {% if member and channel.hasNew %}
                                    <span>New</span>
                                {% endif %} 
                                <i class="fa fa-comments"></i>
                            </i>
                            <strong>{{ channel.title }}</strong>
                            <span>{{ channel.description }}</span>
                        </a>
                        <div class="right">
                            <div class="forum-numbers">
                                <span>{{ channel.count_topics }} Threads</span>
                                <span>{{ channel.count_posts }} Replies</span>
                            </div>
                            {% if channel.first_topic %}
                                <div class="forum-recent">
                                    <a href="{{ channel.first_topic.member.url }}" data-img="{{ channel.first_topic.last_post_member.user.avatarThumb(90) }}" data-url="{{ 'forum/member' | page({ slug: channel.first_topic.last_post_member.username}) }}" data-username="{{ channel.first_topic.last_post_member.username }}" data-online="{{ isOnline(channel.first_topic.last_post_member.user.id) ? "online" : ""}}" data-quote="{{ channel.first_topic.last_post_member.user.profile.per_text_1 ? channel.first_topic.last_post_member.user.profile.per_text_1 : "No Quote." }}" class="avatar {{ isOnline(channel.first_topic.last_post_member.user.id) ? "online" : ""}} user-tooltip">
                                        <span class="wrapimg"><img src="{{ channel.first_topic.last_post_member.user.avatarThumb(39) }}" class="setborder" title="" alt=""></span>
                                    </a>
                                    <span>
                                        <a href="{{ channel.first_topic.url }}?page=last#post-{{ channel.first_topic.last_post_id }}">{{ channel.first_topic.subject }}</a>
                                        <span class="f-date">{{ channel.first_topic.last_post_at.diffForHumans }}</span>
                                        <span class="f-user-link"><a href="{{ 'forum/member' | page({ slug: channel.first_topic.last_post_member.username}) }}"><strong>{{ channel.first_topic.last_post_member.username }}</strong></a></span>
                                    </span>
                                </div>
                            {% else %}
                                <div class="forum-recent">
                                    <span class="f-no-posts">No thread to show</span>
                                </div>
                            {% endif %}
                        </div>
                    <!-- BEGIN .forum-link -->
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endfor %}
</div>